$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

.card-wrap {
  transform: perspective(500px);
  transform-style: preserve-3d;
}

mat-card {
  margin-bottom: 2rem;
}

mat-card mat-card-content {
  font-size: 16px;
  font-weight: 550;
}

mat-card mat-card-content a {
  text-decoration: none;
  color: black;
}

mat-card button {
  text-align: center;
  font-size: 14px;
}

mat-card a img {
  max-height: 250px;
  max-width: auto;
  object-fit: cover;
  object-position: center;
}

.aling-content {
  display: inline-flex;
  margin: 2px;
}