.corpo {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: .7em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.graph {
    display: inline-grid;
    grid-template-areas: ".... months""days squares";
    grid-gap: 0.6666666667em;
    grid-template-columns: auto 1fr;
    padding: 1.3333333333em;
    margin: 1.3333333333em;
    border: 1px #e1e4e8 solid;
    border-radius: 2px;
}

.months {
    grid-area: months;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.squares {
    display: grid;
    grid-template-rows: repeat(7, 1em);
    grid-gap: 0.3333333333em;
}

.squares {
    grid-area: squares;
    grid-auto-flow: column;
    grid-auto-columns: 1em;
}

.squares li {
    background-color: #f0eded;
    border-radius: 2px;
}
