.sidenav {
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 10%;
  overflow-x: hidden;
  padding: 8px 0;
  padding-right: 0.5rem;
  border-right: #b4b2b2 solid 2px;
  border-radius: 2%;
}

.sidenav h1 {
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav h1:hover {
  cursor: pointer;
  color: #064579;
}

.sidenav-selected {
  color: #064579 !important;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}