<div class="about-project-wrapper">

  <section class="animated-slow fadeInLeft">
    <h1 class="header-about">Sobre el proyecto</h1>

    <div class="about-content">

      <p class="about-paragraph">
        Más que un partido, somos una alianza de personas con ganas de cambiar al mundo. La
        política es sólo otra herramienta.
      </p>

      <button (click)="openMainProject()">Conoce más</button>

    </div>
  </section>

  <section class="animated-slow fadeInRight">

    <h1 class="header-about">Sobre los desarrolladores</h1>

    <div class="about-content">

      <p class="about-paragraph">
        Somos un conjunto de profesionales de IT comprometidos con el área del desarrollo del proyecto,
        con la finalidad de implementar tecnología y metodologías innovadoras para el futuro de la organización.
        <br><br>
        Contamos con muchas áreas y apoyamos a los desarrolladores junior que busquen obtener experiencia y desarrollar sus habilidades.
      </p>

      <button routerLink="/projects">Conoce nuestro trabajo</button>

    </div>
  </section>

</div>
