<div class="main-wrapper">
  <div class="grid-item">
    <mat-form-field class="search-bar">
      <input matInput 
         [(ngModel)]="searchText"  placeholder="Buscar">
    </mat-form-field>
  </div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"
        *ngFor="let resource of resources | filter : searchText">
        <resource-3d-generic-component [resource]="resource" [width]="400" [height]="500"></resource-3d-generic-component>
      </div>
    </div>
  </div>
</div>